body {
  background-image: url("/images/checkers.jpg");
  background-color: black;
  font-family: verdana, sans-serif, arial, helvetica;
  color: #c1bdbd;
}

.logo-bg {
  background-color: #090909;
}
