@import url("https://fonts.googleapis.com/css?family=Oswald:400,400i,500,700");

body {
  background-image: url("/images/checkers.jpg");
  background-color: black;
  font-family: "Oswald", verdana, sans-serif, arial, helvetica;
  color: #c1bdbd;
}

.logo-bg {
  background-color: #090909;
}
