.thumb1:hover {
	background-image: url(leagues/thumb1.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb2:hover {
	background-image: url(leagues/thumb2.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb3:hover {
	background-image: url(leagues/thumb3.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb4:hover {
	background-image: url(leagues/thumb4.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb5:hover {
	background-image: url(leagues/thumb5.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb6:hover {
	background-image: url(leagues/thumb6.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb7:hover {
	background-image: url(leagues/thumb7.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb8:hover {
	background-image: url(leagues/thumb8.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb9:hover {
	background-image: url(leagues/thumb9.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb10:hover {
	background-image: url(leagues/thumb10.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb11:hover {
	background-image: url(leagues/thumb11.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb12:hover {
	background-image: url(leagues/thumb12.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb13:hover {
	background-image: url(leagues/thumb13.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb14:hover {
	background-image: url(leagues/thumb14.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb15:hover {
	background-image: url(leagues/thumb15.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb16:hover {
	background-image: url(leagues/thumb16.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb17:hover {
	background-image: url(leagues/thumb17.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb18:hover {
	background-image: url(leagues/thumb18.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb19:hover {
	background-image: url(leagues/thumb19.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb20:hover {
	background-image: url(leagues/thumb20.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb21:hover {
	background-image: url(leagues/thumb21.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb22:hover {
	background-image: url(leagues/thumb22.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb23:hover {
	background-image: url(leagues/thumb23.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb24:hover {
	background-image: url(leagues/thumb24.gif);
	background-position: left;
	background-repeat: no-repeat;
}
.thumb25:hover {
	background-image: url(leagues/thumb25.gif);
	background-position: left;
	background-repeat: no-repeat;
}