---
  title: "GYM Sportsbar - LA - Contact"
  layout: "la.njk"
---
<div class="flex justify-center items-center border p-4 m-4">
  <div id="contactleft" class="text-white">
    <div class="p-2">
      <strong>GYM Sportsbar</strong><br>
      <p>
  8737 Santa Monica Blvd<br>
  West Hollywood, CA 90069<br>
        <a class="text-sky-500" href="tel:+13106592004">(310) 659-2004</a><br>
        <a class="text-sky-500" href="mailto:gymla@gymsportsbar.com">gymla@gymsportsbar.com</a><br>
      </p>
    </div>
    <br>
    <h1 class="pb-2">Hours</h1>
    <div class="grid grid-cols-[90px_1fr] gap-y-2">
      <div class="text-sm">Mon-Fri</div>
      <div class="text-lg font-bold">&nbsp;&nbsp;4PM - 2AM</div>
      <div class="text-sm">Fri-Sun</div>
      <div class="text-lg font-bold">10AM - 4AM</div>
    </div>
    <br>
    <div id="join">
      <strong>Join GYM!</strong><br>
Sign up for our newsletter and recieve infomation about upcoming events, new drink specials, photo gallery updates, sport leagues and more.<!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->
      <div align="center">
        <table border="0" cellspacing="0" cellpadding="3" style="border: 2px solid #000000">
          <tbody>
            <tr>
              <td align="center">
                <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom: 2"><input type="hidden" name="m" value="1103092623831"><input type="hidden" name="p" value="oi">
                  <font style="font-weight: normal; font-family: Arial; font-size: 12px; color: #000000">Email:</font>
                  <input type="text" name="ea" size="20" value="" style="font-size: 10pt; border: 1px solid #999999"><input type="submit" name="go" value="Go" class="submit" style="font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 10pt"></form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- END: Constant Contact Basic Opt-in Email List Form -->
      <!-- BEGIN: SafeSubscribe -->
      <div align="center" style="padding-top: 5px">
        <a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank"><img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""></a>
      </div>
      <!-- END: SafeSubscribe -->
      <!-- BEGIN: Email Marketing you can trust -->
      <div align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: #999999">
For <a href="http://www.constantcontact.com/jmml/email-marketing.jsp" style="text-decoration: none; font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: #999999" target="_blank">Email Marketing</a> you can trust</div>
      <!-- END: Email Marketing you can trust -->
    </div>
  </div>
</div>