---
title: "Gym Sports Bar - Los Angeles"
layout: "la.njk"
slides:
  - img: "/images/gymla_specials_happyhour.jpeg"
  - img: "/images/gymla_specials_sunday1.jpeg"
  - img: "/images/gymla_specials_friday.jpeg"
  - img: "/images/gym_dodgeball.jpeg"
  - img: "/images/main_store.jpeg"
    dest: "shop"
---

<div class="container">
  <div class="flex flex-wrap justify-center items-center gap-4 basis-80 mb-5">
    {% for slide in slides -%}
      <div class="h-80 relative">
        {% if slide.dest %}
          <a href="{{ slide.dest }}">
          {% endif %}
          <img class="h-full w-full align-middle border-5" src="{{ slide.img }}"/>
          {% if slide.dest %}
          </a>
        {% endif %}
      </div>
    {%- endfor %}
  </div>
</div>