---
  title: "Gym Sports Bar - Los Angeles - Menu"
  layout: "la.njk"
---

{% set menu = collections.laMenu %}
<div class="text-white">Contents: {{ menu | dump }}</div>
{% include "partials/menu.njk" %}