---
title: "GYM Sportsbar - NYC - Store"
layout: "ny.njk"
---

<div class="bg-[url('/images/locker-room-background.jpeg')] bg-cover text-slate-200 p-8 text-base">
  <div class="flex flex-col content-center justify-center gap-y-4 p-8 max-w-lg mx-auto rounded bg-black bg-opacity-50">
    <h1 class="font-bold text-lg text-center">LOCKER ROOM can host your NEXT PARTY</h1>
    Located on the basement level, the Locker Room is an alluring addition to GYM's main floor. The atmosphere created
    by
    the Locker Room's warm lighting, fun music, video displays, and copper-topped bar encourages the crowd to get up
    close
    and personal.
    </p>

    <p>
      During NFL Football season, The Locker Room is also open on SUNDAYS for viewing DirectTV's NFL Sunday Ticket
      Lineup
      of
      games.
    </p>

    <p>
      The Drink Specials offered EVERY day and night on our main level are also offererd in the locker room including
      Happy
      Hour & Weekend Beer Blast.
    </p>
    <p>
      Whether you're planning a birthday celebration, holiday
      office party, corporate event, or simply looking for a place to kick back with friends, the Locker Room is the
      perfect
      location. We offer complete bar services, DJ /AV equipment and can accommodate your catering needs.
    </p>
    <a class="text-center text-lg font-bold hover:text-slate-400" href="/{{locale}}/contact">Contact us to
      learn more</a>
    <p>
  </div>
</div>