---
title: "GYM Sportsbar - FL"
layout: "ftl.njk"
---
<div class="text-center text-2xl p-4 m-auto text-white">
  Check out our <a class="text-sky-500" href="https://www.facebook.com/GYMSportsbarFortLauderdale/">Facebook page</a> for more information.
</div>