<div class="text-white text-center text-xl mx-8 p-2 md:text-3xl md:mx-30 md:p-4 border-rounded border">
  <h2>COMING SOON</h2>
  <p class="text-lg">You can ask your bartenders about our shirts!</p>
</div>