---
title: GYM Sportsbar - Los Angeles - Leagues
layout: "la.njk"
---
<div class="text-white text-center text-xl mx-8 p-2 md:text-3xl md:mx-30 md:p-4 border-rounded border">
  GYM Sportsbar is a proud supporter of gay sport leagues across the country.
</div>

<div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] content-center my-8 gap-4 mx-8 md:mx-30 grow">
  <div class="flex justify-center items-center"><img src="/images/league-football.jpeg"/></div>
  <div class="flex justify-center items-center"><img src="/images/league-team.jpeg"/></div>
  <div class="flex justify-center items-center"><img src="/images/league-baseball.jpeg"/></div>
  <div class="flex justify-center items-center"><img src="/images/league-wrestling.jpeg"/></div>
</div>

<div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-3 text-white mx-8 md:mx-16 my-4 text-lg border rounded-md bg-neutral-100 text-neutral-800 font-bold p-8">
  <div>
    <a class="hover:underline" href="http://www.lambdabasketball.com">Basketball</a>
  </div>
  <div>
    <a class="hover:underline" href="http://www.lagaysoftball.com">Softball</a>
  </div>
  <div>
    <a class="hover:underline" href="http://www.laflagfootball.com">Flag Football</a>
  </div>
  <div>
    <a class="hover:underline" href="http://lagayvolleyball.com">V.O.I.L.A. Volleyball</a>
  </div>
  <div>
    <a class="hover:underline" href="http://www.quickset.webs.com">C.A.V.O. Volleyball</a>
  </div>
  <div>
    <a class="hover:underline" href="http://www.playlavo.org">L.A.V.O. Volleyball</a>
  </div>
  <div>
    <a class="hover:underline" href="http://larebeldivon.org">Rugby</a>
  </div>
  <div>
    <a class="hover:underline" href="http://www.cheerla.org">Cheer L.A. Cheerleading</a>
  </div>
  <div>
    <a class="hover:underline" href="http://wehododgeball.com">Dodgeball</a>
  </div>
  <div>
    <a class="hover:underline" href="http://westhollywoodsoccerclub.org/">West Hollywood Soccer</a>
  </div>
  <div>
    <a class="hover:underline" href="http://www.wh2o.org">WH2O Water Polo</a>
  </div>
  <div>
    <a class="hover:underline" href="https://www.facebook.com/pages/VGL-SoCAL/113620386054" title="">V.G.L SoCal</a>
  </div>
</div>