<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta name="Description" content="New York City's ORIGINAL Gay Sports Bar"/>
    <meta name="Keywords" content="GYM Sportsbar, Gay Sports Bar, New York, Los Angeles, Fort Lauderdale"/>
    <meta name="Distribution" content="global"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="30 Days"/>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/gym.css">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>