<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2">
  {% for slide in slides -%}
    {% if slide.dest %}
      <a class="flex justify-center" href="{{ slide.dest }}">}
        <img class="w-full" src="{{ slide.img }}"/>
      </a>
    {% else %}
      <div class="flex justify-center">}
        <img class="w-full" src="{{ slide.img }}"/>
      </div>

    {% endif %}
  {%- endfor %}
</div>
{% if twitter %}
  <div class="container mx-auto md:w-1/2 py-4">
    <a class="twitter-timeline" href="https://twitter.com/{{twitter}}?ref_src=twsrc%5Etfw">Tweets by {{twitter}}</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
{% endif %}